body {
    background-color: black;
    color: palevioletred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px; 
}

main {
    color: palevioletred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    font-size: 16pt;
}

header {
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-size: 10pt;
}

footer {
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}

a {
    text-decoration: none;
    transition: 1s 2s;
    color: palevioletred;
    font-size: 30px
}

a:link {
    color: palevioletred;
    font-size: 30px
}

a:visited{
    color: white;
}

a:hover {
    color: crimson;
    text-decoration: underline;
    background-color: whitesmoke;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3px;
}

div.menu {
    border: 7px solid;
    border-radius: 5px;
    width: 450px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: rgb(32, 31, 31);
    box-shadow: 0px 0px 15px palevioletred;
}
